<!-- INCLUDE overall_header.html -->

<form id="login_forum" method="post" action="{S_LOGIN_ACTION}" class="form-horizontal">
  {S_FORM_TOKEN}
  <div class="row-fluid">
    <div class="well">
      <h3>{L_LOGIN} {FORUM_NAME}</h3>
      <p>{L_LOGIN_FORUM}</p>

      <!-- IF LOGIN_ERROR -->
      <div class="alert alert-error">
        <div>{LOGIN_ERROR}</div>
      </div>
      <!-- ENDIF -->

      <div class="control-group">
        <label for="password" class="control-label">{L_PASSWORD}:</label>
        <div class="controls">
          <input type="password" name="password" id="password" />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="submit" name="login" id="login" class="btn btn-primary" value="{L_LOGIN}" />
        </div>
      </div>

      {S_HIDDEN_FIELDS}
      {S_LOGIN_REDIRECT}

    </div>
  </div>
</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
