<!-- IF S_IN_SEARCH_POPUP -->
  <!-- You should retain this javascript in your own template! -->
  <script type="text/javascript">
  // <![CDATA[
    function insert_user(user) {
      opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
    }

    function insert_marked(users) {
      if (typeof(users.length) == "undefined") {
        if (users.checked) {
          insert_user(users.value);
        }
      }
      else if (users.length > 0) {
        for (i = 0; i < users.length; i++) {
          if (users[i].checked) {
            insert_user(users[i].value);
          }
        }
      }

      self.close();
    }

    function insert_single(user) {
      opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
      self.close();
    }
  // ]]>
  </script>
  <script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- ENDIF -->

<form method="post" action="{S_MODE_ACTION}" id="search_memberlist" class="form-horizontal">
  <div class="row-fluid">
    <div class="well">
      <h3>{L_FIND_USERNAME}</h3>
      <p>{L_FIND_USERNAME_EXPLAIN}</p>

      <div class="control-group">
        <label for="username" class="control-label">{L_USERNAME}:</label>
        <div class="controls">
          <input type="text" name="username" id="username" placeholder="{USERNAME}" title="{L_USERNAME}" />
        </div>
      </div>

      <!-- IF S_EMAIL_SEARCH_ALLOWED -->
      <div class="control-group">
        <label for="email" class="control-label">{L_EMAIL}:</label>
        <div class="controls">
          <input type="text" name="email" id="email" placeholder="{EMAIL}" title="{L_EMAIL}" />
        </div>
      </div>
      <!-- ENDIF -->

      <div class="control-group">
        <label for="icq" class="control-label">{L_ICQ}:</label>
        <div class="controls">
          <input type="text" name="icq" id="icq" placeholder="{ICQ}" title="{L_ICQ}" />
        </div>
      </div>

      <div class="control-group">
        <label for="aim" class="control-label">{L_AIM}:</label>
        <div class="controls">
          <input type="text" name="aim" id="aim" placeholder="{AIM}" title="{L_AIM}" />
        </div>
      </div>

      <div class="control-group">
        <label for="yahoo" class="control-label">{L_YIM}:</label>
        <div class="controls">
          <input type="text" name="yahoo" id="yahoo" placeholder="{YAHOO}" title="{L_YIM}" />
        </div>
      </div>

      <div class="control-group">
        <label for="msn" class="control-label">{L_MSNM}:</label>
        <div class="controls">
          <input type="text" name="msn" id="msn" placeholder="{MSNM}" title="{L_MSNM}" />
        </div>
      </div>

      <div class="control-group">
        <label for="joined" class="control-label">{L_JOINED}:</label>
        <div class="controls">
          <select name="joined_select" class="span2">{S_JOINED_TIME_OPTIONS}</select>
          <input type="text" name="joined" id="joined" placeholder="{JOINED}" title="{L_JOINED}" />
        </div>
      </div>

      <!-- IF S_VIEWONLINE -->
      <div class="control-group">
        <label for="active" class="control-label">{L_LAST_ACTIVE}:</label>
        <div class="controls">
          <select name="active_select" class="span2">{S_ACTIVE_TIME_OPTIONS}</select>
          <input type="text" name="active" id="active" placeholder="{ACTIVE}" title="{L_LAST_ACTIVE}" />
        </div>
      </div>
      <!-- ENDIF -->


      <div class="control-group">
        <label for="count" class="control-label">{L_POSTS}:</label>
        <div class="controls">
          <select name="count_select" class="span2">{S_COUNT_OPTIONS}</select>
          <input type="text" name="count" id="count" placeholder="{COUNT}" title="{L_POSTS}" />
        </div>
      </div>

      <!-- IF S_IP_SEARCH_ALLOWED -->
      <div class="control-group">
        <label for="ip" class="control-label">{L_POST_IP}:</label>
        <div class="controls">
          <input type="text" name="ip" id="ip" placeholder="{IP}" title="{L_POST_IP}" />
        </div>
      </div>
      <!-- ENDIF -->

      <div class="control-group">
        <label for="search_group_id" class="control-label">{L_GROUP}:</label>
        <div class="controls">
          <select name="search_group_id" id="search_group_id">{S_GROUP_SELECT}</select>
        </div>
      </div>

      <div class="control-group">
        <label for="sk" class="control-label">{L_SORT_BY}:</label>
        <div class="controls">
          <select name="sk" id="sk" class="span2">{S_SORT_OPTIONS}</select>
          <select name="sd" id="sd" class="span2">{S_ORDER_SELECT}</select>
        </div>
      </div>

      {S_FORM_TOKEN}

      <hr class="dashed" />

      <div class="control-group">
        <div class="controls">
          <input type="submit" name="submit" value="{L_SEARCH}" class="btn btn-primary" />
          <input type="reset" value="{L_RESET}" name="reset" class="btn" />
        </div>
      </div>
    </div>
  </div>
</form>
