<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
  /**
  * Change language
  */
  function change_language(lang_iso) {
    document.forms['register'].change_lang.value = lang_iso;
    document.forms['register'].submit.click();
  }

  <!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_REFRESH -->
  onload_functions.push('apply_onkeypress_event()');
  <!-- ENDIF -->
// ]]>
</script>

<form method="post" action="{S_UCP_ACTION}" class="form-horizontal">
<div class="panel row-fluid">
  <div class="well inner">
    <h3>{L_REGISTRATION}</h3>

      <!-- IF ERROR -->
      <div class="alert alert-error">
        <div>{ERROR}</div>
      </div>
      <!-- ENDIF -->

      <!-- IF L_REG_COND -->
      <div class="alert alert-info">
        <div>{L_REG_COND}</div>
      </div>
      <!-- ENDIF -->

      <div class="control-group">
        <label for="username" class="control-label">{L_USERNAME}:</label>
        <div class="controls">
          <input type="text" name="username" id="username" placeholder="{USERNAME}" title="{L_USERNAME}" />
          <span class="help-inline">{L_USERNAME_EXPLAIN}</span>
        </div>
      </div>

      <div class="control-group">
        <label for="email" class="control-label">{L_EMAIL_ADDRESS}:</label>
        <div class="controls">
          <input type="text" name="email" id="email" placeholder="{EMAIL}" title="{L_EMAIL_ADDRESS}" />
        </div>
      </div>

      <div class="control-group">
        <label for="email_confirm" class="control-label">{L_CONFIRM_EMAIL}:</label>
        <div class="controls">
          <input type="text" name="email_confirm" id="email_confirm" placeholder="{EMAIL_CONFIRM}" title="{L_CONFIRM_EMAIL}" />
        </div>
      </div>


      <div class="control-group">
        <label for="new_password" class="control-label">{L_PASSWORD}:</label>
        <div class="controls">
          <input type="password" name="new_password" id="new_password" placeholder="{PASSWORD}" title="{L_NEW_PASSWORD}" />
          <span class="help-inline">{L_PASSWORD_EXPLAIN}</span>
        </div>
      </div>

      <div class="control-group">
        <label for="password_confirm" class="control-label">{L_CONFIRM_PASSWORD}:</label>
        <div class="controls">
          <input type="password" name="password_confirm" id="password_confirm" placeholder="{PASSWORD_CONFIRM}" title="{L_CONFIRM_PASSWORD}" />
        </div>
      </div>

      <hr />

      <div class="control-group">
        <label for="lang" class="control-label">{L_LANGUAGE}:</label>
        <div class="controls">
          <select name="lang" id="lang" onchange="change_language(this.value); return false;" title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select>
        </div>
      </div>

      <div class="control-group">
        <label for="tz" class="control-label">{L_TIMEZONE}:</label>
        <div class="controls">
          <select name="tz" id="tz">{S_TZ_OPTIONS}</select>
        </div>
      </div>

      <!-- IF .profile_fields -->
        <p><strong>{L_ITEMS_REQUIRED}</strong></p>
        <!-- BEGIN profile_fields -->
          <div class="control-group <!-- IF profile_fields.ERROR -->error<!-- ENDIF -->">
            <label for="{profile_fields.FIELD_ID}" class="control-label">{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
            <div class="controls">
              {profile_fields.FIELD}
              <!-- IF profile_fields.ERROR --><span class="help-inline">{profile_fields.ERROR}</span><!-- ENDIF -->
              <!-- IF profile_fields.LANG_EXPLAIN --><span class="help-inline">{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF -->
            </div>
          </div>
        <!-- END profile_fields -->
      <!-- ENDIF -->

      <!-- IF CAPTCHA_TEMPLATE -->
        <hr />
        <!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
        <!-- INCLUDE {CAPTCHA_TEMPLATE} -->
      <!-- ENDIF -->

      <!-- IF S_COPPA -->
        <hr />
        <h3>{L_COPPA_COMPLIANCE}</h3>
        <p>{L_COPPA_EXPLAIN}</p>
      <!-- ENDIF -->

      {S_HIDDEN_FIELDS}
      {S_FORM_TOKEN}

      <hr />
      <div class="control-group">
        <div class="controls">
          <input type="submit" name="submit" id="submit" value="{L_SUBMIT}" class="btn btn-primary default-submit-action" />
          <input type="reset" value="{L_RESET}" name="reset" class="btn" />&nbsp;
        </div>
      </div>
  </div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
