<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
  <div class="span4 buttons">
    <!-- IF S_IS_LOCKED -->
      <div class="locked-icon" title="{L_FORUM_LOCKED}"><a href="{U_POST_NEW_TOPIC}"><span></span>{L_FORUM_LOCKED}</a></div>
    <!-- ELSE -->
      <div class="post-icon" title="{L_POST_TOPIC}"><a href="{U_POST_NEW_TOPIC}"><span></span>{L_POST_TOPIC}</a></div>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_SEARCHBOX -->
      <form action="{S_SEARCHBOX_ACTION}" method="get" id="forum-search">
        <div class="input-append">
          {S_SEARCH_LOCAL_HIDDEN_FIELDS}
          <input class="input-medium" type="text" name="keywords" id="search_keywords" placeholder="{L_SEARCH_FORUM}" />
          <button type="submit" class="btn">{L_SEARCH}</button>
        </div>
      </form>
    <!-- ENDIF -->
  </div>
<!-- ENDIF -->

<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
  <div class="p-pagination span8 text-right">
    <!-- IF not S_IS_BOT -->
      <a href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a>
    <!-- ENDIF -->
    <!-- IF TOTAL_TOPICS -->
      &bull; <span>{TOTAL_TOPICS}</span>
    <!-- ENDIF -->
    <!-- IF PAGE_NUMBER -->
      <!-- IF PAGINATION -->
        <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"> &bull; {PAGE_NUMBER}</a> &bull; {PAGINATION}
      <!-- ELSE -->
        &bull; {PAGE_NUMBER}
      <!-- ENDIF -->
    <!-- ENDIF -->
  </div>
<!-- ENDIF -->


