<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
  <div class="span5 buttons">
    <!-- IF S_IS_LOCKED -->
      <div class="locked-icon" title="{L_TOPIC_LOCKED}"><a href="{U_POST_REPLY_TOPIC}"><span></span>{L_TOPIC_LOCKED_SHORT}</a></div>
    <!-- ELSE -->
      <div class="reply-icon" title="{L_POST_REPLY}"><a href="{U_POST_REPLY_TOPIC}"><span></span>{L_POST_REPLY}</a></div>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_SEARCHBOX -->
      <form method="get" id="topic-search" class="form-search" action="{S_SEARCHBOX_ACTION}">
        <div class="input-append">
          {S_SEARCH_LOCAL_HIDDEN_FIELDS}
          <input type="text" class="input-medium search-query" name="keywords" id="search_keywords" placeholder="{L_SEARCH_TOPIC}" />
          <button class="btn" type="submit"><i class="icon-search"></i> {L_SEARCH}</button><br />
        </div>
      </form>
    <!-- ENDIF -->
  </div>
<!-- ENDIF -->

<!-- IF PAGINATION or TOTAL_POSTS -->
  <div class="span7 p-pagination text-right">
    <!-- IF not S_IS_BOT -->
      <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a>
    <!-- ENDIF -->
    &bull; <span>{TOTAL_POSTS}</span>
    <!-- IF PAGE_NUMBER -->
      <!-- IF PAGINATION -->
        &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"><span>{PAGE_NUMBER}</span></a> &bull; <span>{PAGINATION}</span>
      <!-- ELSE -->
        &bull; <span>{PAGE_NUMBER}</span>
      <!-- ENDIF -->
    <!-- ENDIF -->
  </div>
<!-- ENDIF -->

