/* @override http://local.lonbrew.com/forum/styles/lonbrew-phpbb/theme/common.css */

/* General Markup Styles
---------------------------------------- */

html {
  /* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
  height: 101%;
}

img {
  border-width: 0;
}

hr.dashed {
  border-top: 1px dashed #CCCCCC;
}

hr.divider {
  display: none;
}

p.right {
  text-align: right;
}


/* Horizontal lists
----------------------------------------*/
ul.linklist {
  display: block;
  margin: 0;
}

ul.linklist li {
  display: inline-block;
  list-style-type: none;
  float: left;
  width: auto;
  margin-right: 5px;
}

ul.linklist li.rightside, p.rightside {
  float: right;
  margin-right: 0;
  margin-left: 5px;
  text-align: right;
}

ul.leftside {
  float: left;
  margin-left: 0;
  margin-right: 5px;
  text-align: left;
}

ul.rightside {
  float: right;
  margin-left: 5px;
  margin-right: -5px;
  text-align: right;
}
